<%- include(PATH.VIEWS_COMMON+'/subjectContent',{PATH,data}) %>
<div id="subject_check_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">发送提醒邮件</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" id="subject_check_form" method="POST" data-url="">
                    <input name="id" type="hidden" value="<%= data[0][0].id %>">
                    <input type="hidden" name="toAddr" value="<%= data[1][0].email %>">
                    <div class="form-group form-row">
                        <label class="col-3 col-form-label" for="email_title">邮件标题：</label>
                        <input type="text" name="title" id="email_title" class="form-control col-9"
                            placeholder="请输入邮件标题" maxlength="255" required>
                    </div>
                    <div id="reasonEditor">
                        <div class="mb-3 editor">
                            <p>请在此处输入内容···</p>
                        </div>
                        <div class="form-group form-row justify-content-around">
                            <button type="reset" class="btn btn-secondary col-3 editor-clear"
                                data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary col-3">发送</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mt-3 d-flex justify-content-around">
    <button id="subject_fail" type="button" class="btn btn-secondary w-25" data-toggle="modal"
        data-target="#subject_check_modal">打回</button>
    <button id="subject_pass" type="button" class="btn btn-primary w-25" data-toggle="modal"
        data-target="#subject_check_modal">通过</button>
</div>
<script>
    (function ($, SASEE) {
        let $form = $('#subject_check_form'),
            editor = SASEE.instEditor('#reasonEditor');
        $form.submit(e => {
            e.preventDefault();
            let data = $form.serializeObject();
            data.content = editor.txt.html();
            $.json({
                url: $form.data('url'),
                data: data
            }).done(msg => {
                let $container = $('#bysj_subject>.sys-list tbody');
                if ($container.children().length == 1) {
                    $('#bysj_subject .sys-list').replaceWith(`
                    <div class="d-flex justify-content-center" style="height: 250px">
                        <h1 class="text-muted align-self-center">课题审核完成！</h1>
                    </div>`);
                } else {
                    $container.find('tr[data-id="' + $form[0].id.value + '"]').remove();
                }
                $('#subject_check_modal').modal('hide');
                SASEE.requestDone(msg);
                SASEE._showListOrContent({
                    container: '#bysj_subject'
                });
            }).fail(SASEE.requestFail);
        });

        function _reviewSubject({ url, title, info }) {
            $form.data('url', url);
            $form[0].title.value = title;
            editor.txt.html(info);
        }
        $('#subject_pass').click(() => {
            _reviewSubject({
                url: './pass',
                title: '课题通过。',
                info: '<p>默认消息：此课题经审核通过。</p>'
            });
        });
        $('#subject_fail').click(() => {
            _reviewSubject({
                url: './fail',
                title: '课题被打回，请修改。',
                info: '<p>请在此处输入打回该课题的原因···</p>'
            });
        });
    })(window.jQuery, window.SASEE);
</script>