<div class="modal p-3 alert-modal">
    <div class="alert alert-primary text-center"><span></span><button type="button" class="ml-3 close"
            data-dismiss="modal"><span>&times;</span></button>
    </div>
</div>