<div id="license_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">用户协议</h4>
            </div>
            <div class="modal-body p-0 p-md-3">
                <div><%- include(PATH.LICENSE+'/license') %></div>
            </div>
            <div class="d-flow modal-footer justify-content-between">
                <button class="btn btn-primary w-25" id="button_agree">我同意</button>
                <button class="btn btn-secondary w-25" id="button_disagree">不同意</button>
            </div>
        </div>
    </div>
</div>