<button id="modifyPW" data-toggle="modal" data-target="#modifyPW_modal"
    class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0">修改密码</button>
<div id="modifyPW_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" name="modifyPW" id="modifyPW_form" method="POST" class="text-center">
                    <div class="form-group form-row">
                        <label for="oldPW" class="col-4 col-form-label">旧密码：</label>
                        <input name="oldPW" id="oldPW" type="password" class="col-8 form-control" pattern="\w{1,16}"
                            placeholder="请输入旧密码" required>
                    </div>
                    <div class="form-group form-row">
                        <label for="newPW" class="col-4 col-form-label">新密码：</label>
                        <input name="newPW" id="newPW" type="password" class="col-8 form-control" pattern="\w{1,16}"
                            placeholder="1~16位字母、数字或下划线" required>
                    </div>
                    <div class="form-group form-row">
                        <label for="repeaPW" class="col-4 col-form-label">重复密码：</label>
                        <input name="repeatPW" id="repeaPW" type="password" class="col-8 form-control"
                            pattern="\w{1,16}" placeholder="1~16位字母、数字或下划线" required>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary w-25">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal p-3" id="alert_modal">
    <div class="alert alert-primary">
        <h4 class="alert-heading">修改密码成功，请重新登陆！</h4>
        <p>将在<strong id="jump_counter" class="px-1">5</strong>秒后自动跳转至登陆界面,点击<a href="/" class="alert-link">此处</a>立即跳转。
        </p>
    </div>
</div>
<script>
    (function ($, SASEE) {
        SASEE.formSubmit({
            selector: '#modifyPW_form',
            url: './password',
            validate: $form => {
                return $form[0].newPW.value == $form[0].repeatPW.value;
            },
            ifNotValid: $form => {
                $($form[0].repeatPW).popover({
                    // selector: '#pw_repeat',
                    html: true,
                    content: '<h5 class="text-warning">密码不匹配！</h5>',
                    container: '#modifyPW_modal',
                    placement: 'top'
                }).popover('toggle');
            },
            done: msg => {
                SASEE.counter({
                    count: 5,
                    doing: count => {
                        $('#jump_counter').text(count);
                    },
                    done: () => {
                        window.location.href = '/';
                    }
                });
                $('#modifyPW_modal').modal('hide');
                $('#alert_modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
        });
    })(window.jQuery, window.SASEE);
</script>