<button data-toggle="modal" data-target="#sendEmail_modal" class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0">发送邮件</button>
<div id="sendEmail_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">发送邮件</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" id="subject_sendEmail_form" method="POST">
                    <input type="hidden" name="toAddr" value="<%= to.email %>">
                    <div class="form-group form-row text-center">
                        <label for="email_title" class="col-4 col-lg-2 col-form-label required">标题：</label>
                        <input type="text" name="title" id="email_title" class="col-8 col-lg-10 form-control"
                            placeholder="请输入邮件标题" maxlength="255" required>
                    </div>
                    <div id="emailEditor">
                        <div class="mb-3 editor">
                            <p>请在此处输入内容···</p>
                        </div>
                        <div class="form-group form-row justify-content-around">
                            <button type="reset" class="btn btn-secondary col-3 editor-clear"
                                data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary col-3">发送</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    (($, SASEE) => {
        let editor = SASEE.instEditor('#emailEditor');
        SASEE.formSubmit({
            editor,
            selector: '#subject_sendEmail_form',
            url: SASEE.URL_EMAIL + '/sendEmail',
            done: msg => {
                $('#sendEmail_modal').modal('hide');
                SASEE.requestDone(msg);
            }
        });
    })(window.jQuery, window.SASEE);
</script>