<div id="alert_modal" class="modal p-3 alert-modal">
    <div class="alert alert-primary text-center"><span>{{msg}}</span><button v-show="buttonHide" type="button" class="ml-3 close"
            data-dismiss="modal"><span>&times;</span></button v-show="show">
    </div>
</div>