<div id="subject_content" class="col-12 mx-auto scroll-container" style="display: none"></div>
<div id="subject_list" class="px-3">
    <div class="d-flex justify-content-around" id="card_container">
        <% if(data.length){
        for( let i = 0; i < data.length; i++ ) { %>
        <%- include('subject-card',data[i]) %>
        <% } } %>
    </div>
    <% if (data.length<3) { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 250px">
        <button class="btn btn-primary col-3" id="subject_submit">发布课题</button>
    </div>
    <% } %>
</div>
<script>
    (function ($, SASEE) {
        let _toggle = (e) => {
            SASEE._subjectToggle('#subject_content', '#subject_list');
        };
        let cb = (param) => {
            SASEE._loadContent('#subject_content', param, _toggle);
        };

        SASEE._modifyOrView = e => {
            let type = $(e.currentTarget).data('type'),
                id = $(e.currentTarget).data('id');
            if (type) {
                cb({ type, id });
            } else {
                SASEE.alert({
                    msg: '该课题已被否决，无法查看！'
                })
            }
        }
        $('#card_container').children().click(SASEE._modifyOrView);

        let $subject_submit = $('#subject_submit');
        if ($subject_submit.length) {
            $subject_submit.click((e) => {
                cb({
                    type: 'submitSubject'
                });
            });
        }
    })(window.jQuery, window.SASEE);
</script>