<div id="subject_content" class="col-12 mx-auto scroll-container" style="display: none"></div>
<div id="subject_list" class="px-3">
    <div class="d-flex justify-content-around" id="card_container">
        <% if(data.length){
        for( let i = 0; i < data.length; i++ ) { %>
        <%- include('subject-card',data[i]) %>
        <% } } %>
    </div>
    <% if (data.length<3) { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 250px">
        <button class="btn btn-primary col-3" id="subject_submit">发布课题</button>
    </div>
    <% } %>
</div>
<script>
    (function ($, SASEE) {
        let _toggle = (e) => {
            SASEE._subjectToggle('#subject_content', '#subject_list');
        };
        let cb = (e, param) => {
            SASEE._loadContent(e, '#subject_content', param, _toggle)
        };
        $('#card_container').children().click((e) => {
            cb(e, {
                type: 'mySubject',
                id: $(e.currentTarget).data('id')
            });
        });

        let $subject_submit = $('#subject_submit');
        if ($subject_submit.length) {
            $subject_submit.click((e) => {
                let $subject_form = $('#subject_form');
                if ($subject_form.length > 0) {
                    $subject_form[0].reset();
                    _toggle();
                } else {
                    cb(e, {
                        type: 'submitSubject'
                    })
                }
            });
        }
    })(window.jQuery, window.SASEE);
</script>