<nav id="mysubject_nav" class="nav nav-tabs nav-justified mt-3">
    <a data-toggle="tab" class="nav-item nav-link active" href="#mysubject_notice">通知墙</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mysubject_progress">课题进度</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mysubject_teacher">教师资料</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mysubject_file">文件</a>
</nav>
<div class="tab-content p-3">
    <div class="tab-pane fade show active" id="mysubject_notice">

        <div id="editor">
            <p>请在此处输入内容···</p>
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <button id="editor_clear" class="btn btn-secondary px-5" type="button">清空</button>
            <button id="editor_submit" class="btn btn-primary px-5" type="button">提交</button>
        </div>
    </div>
    <div class="tab-pane fade" id="mysubject_progress">
        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#asign_1">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务一:初步探讨</span>
                    <!-- <span class="d-inline-block w-50 ellipsis"></span> -->
                    <span class="badge badge-pill badge-success">已完成</span>
                </h5>
            </div>
            <div class="collapse" id="asign_1" data-parent="#mysubject_progress">
                <div class="card-body">
                    <p>本次任务的目的是完成初步的探讨····</p>
                    <p class="h4 mb-0 text-right">评分：98</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#asign_2">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务二:设计初稿</span>
                    <!-- <span class="d-inline-block w-50 ellipsis"></span> -->
                    <span class="badge badge-pill badge-danger">不及格</span>
                </h5>
            </div>
            <div class="collapse" id="asign_2" data-parent="#mysubject_progress">
                <div class="card-body">
                    <p>本次任务的目的是进行进一步的设计，并提交设计初稿····</p>
                    <p class="h4 mb-0 text-right">评分：57</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#asign_3">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务三:最终成品</span>
                    <!-- <span class="d-inline-block w-50 ellipsis"></span> -->
                    <span class="badge badge-pill badge-warning">未完成</span>
                </h5>
            </div>
            <div class="collapse" id="asign_3" data-parent="#mysubject_progress">
                <div class="card-body">
                    <p>本次任务的目的是完成最后的组装，形成最终成品····</p>
                    <p class="h4 mb-0 text-right">评分：暂无</p>
                </div>
            </div>
        </div>

        <div class="progress mt-3">
            <!-- progress-bar-striped progress-bar-animated -->
            <div class="progress-bar" style="width: 33.3%">已完成</div>
            <div class="progress-bar bg-danger" style="width: 33.3%">不及格</div>
            <div class="progress-bar bg-warning" style="width: 33.4%">未完成</div>
        </div>
    </div>
    <div class="tab-pane fade" id="mysubject_teacher">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate odio vero itaque suscipit tempora
        doloremque, dolores laborum maiores similique autem repellendus quibusdam cumque dicta laudantium molestiae
        nesciunt quo, eveniet fugit.
    </div>
    <div class="tab-pane fade" id="mysubject_file">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eveniet iure officia sint eligendi id, atque eos non
        illum repudiandae tempore blanditiis incidunt ut consectetur corrupti magni labore, autem soluta!
    </div>
</div>