<ul class="list-group list-group-flush col-10 mx-auto">
    <% for( let index = 0; index < news.contents.length; index++ ) { %>
    <li class="list-group-item list-group-item-action">
        <a href="#" class="float-left">
            <% if (news.contents[index].top) { %>
            <span class="badge badge-pill badge-warning">置顶</span>
            <% } %>
            <%= news.contents[index].title %>
        </a>
        <span
            class="float-right"><%= news.contents[index].publisher+'--'+news.contents[index].category+'--'+news.contents[index].date %>
        </span>
    </li>
    <% } %>
</ul>