<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col" colspan="6">个人信息</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col" colspan="6">账户信息</th>
        </tr>
        <tr>
            <th scope="row">账号</th>
            <td>17375433</td>
            <th scope="row">密码</th>
            <td>········</td>
            <td><a id="update_password" href="#">修改密码</a></td>
        </tr>
        <tr>
            <th scope="col" colspan="6">学籍信息</th>
        </tr>
        <tr>
            <th scope="row">专业</th>
            <td>自动化</td>
            <th scope="row">方向</th>
            <td>模式识别</td>
            <th scope="row">小班</th>
            <td>170326</td>
        </tr>
        <tr>
            <th scope="row">学号</th>
            <td>17375433</td>
            <th scope="row">姓名</th>
            <td>陈智杰</td>
            <th scope="row">性别</th>
            <td>男</td>
        </tr>
        <tr>
            <th scope="col" colspan="6">学业信息</th>
        </tr>
        <tr>
            <th scope="row">GPA</th>
            <td>3.77</td>
            <th scope="row">加权平均分</th>
            <td>91</td>
            <th scope="row">算术平均分</th>
            <td>89</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" colspan="6">资格审查</th>
        </tr>
        <tr>
            <th scope="row">毕业设计</th>
            <td>有</td>
            <th scope="row">生产实习</th>
            <td>有</td>
            <th scope="row">综合实验</th>
            <td>无</td>
        </tr>
    </tfoot>
</table>