aside{
    position:fixed;
    left:0;
    bottom:0;
    top: 65px;
}
.aside{
    width:13%;
}
#contents{
    padding-top:65px;
    width:87%;
}
#account_info:hover{
    background-color:blue;
    cursor:pointer;
}
a:hover{
    text-decoration: none;
}
.list-group-item-action:focus,.list-group-item-action:hover{
    cursor: pointer;
}

table{
    table-layout: fixed;
}

td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td:hover{
    cursor: pointer;
}

body{
    overflow-y: hidden;
}
#news_list,#subject_list{
    overflow-y: scroll;
    height:600px;
}
/* 仅支持PC端Chrome */
::-webkit-scrollbar {display:none}