.aside {
    width: 0;
}

#header {
    height: 64px;
}

#contents {
    margin-top: 65px;
    width: 100%;
}

#navigator {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
}

#contents_body {
    overflow-y: scroll;
    height: 614px;
}

.page-1 {
    display: none;
}

.page-2 {
    display: block;
}

.page-3 {
    display: none;
}

@media(min-width:768px) {
    .page-3 {
        display: block;
    }
}

@media (min-width: 992px) {
    .aside, #navigator {
        width: 24%;
    }
    #contents {
        width: 76%;
    }
    #navigator {
        left: 0;
        bottom: 0;
        top: 65px;
    }
    #contents_body {
        height: 660px;
    }
    .page-1 {
        display: block;
    }
    .page-2 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .aside, #navigator {
        width: 20%;
    }
    #contents {
        width: 80%;
    }
    #contents_body {
        height: 660px;
    }
}

@media (min-width: 1450px) {
    .aside, #navigator {
        width: 16%;
    }
    #contents {
        width: 84%;
    }
    #contents_body {
        height: 660px;
    }
}

#account_info:hover {
    background-color: blue;
}