aside{
    position:fixed;
    left:0;
    bottom:0;
    top: 65px;
}
.aside{
    width:13%;
}

#content{
    padding-top:65px;
    width:87%;
}
#id-info:hover{
    background-color:blue;
    cursor:pointer;
}
a:hover{
    text-decoration: none;
}
.list-group-item-action:focus,.list-group-item-action:hover{
    cursor: pointer;
}
#page_jump input[type=text]{
    width:3rem;
}
#page_jump{
    min-width: 14rem;
    transform:translate3d(-50%,-60px,0px);
}