html, body, .app-container {
    height: 100%;
}

body {
    overflow: hidden;
}

.app-head {
    background-color: rgba(39, 39, 184, 1);
    height: 8%;
}

.app-body {
    background-color: white;
    height: 88%;
    position: relative;
}

.app-foot {
    background-color: rgba(63, 52, 62, 0.199);
    height: 4%;
}

.main-page {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.start-page {
    height: 100%;
    background: fixed url("/pictures/start-page.png") center/cover no-repeat;
}

.main-sidebar {
    width: 20%;
    height: 100%;
    float: left;
}

.main-content {
    width: 80%;
    height: 100%;
    float: left;
}

/* 
.app-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 12000;
}

.app-modal-opp {
    background-color: rgb(255, 255, 255);
}

.app-close {
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    padding: 0.75rem 1.25rem;
    margin: 0;
}

.app-close:focus {
    outline: none;
} 
*/

.app-alert {
    min-width: 375px;
    max-width: 500px;
    border-radius: .5rem;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    z-index: 15000;
}

.app-backdrop {
    background-color: rgb(196, 208, 209);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
}

.required::before {
    content: "*";
    color: red;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.dropdown-menu {
    min-width: 100%;
    text-align: center;
    z-index: 13000;
}

a:hover {
    text-decoration: none;
}

a:hover, .list-group-item-action:focus, .list-group-item-action:hover, .point:hover {
    cursor: pointer;
}

/* .rel-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.table-fixed {
    table-layout: fixed;
}

.table-fixed th, .table-fixed td, .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi-ellipsis {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}



caption {
    text-align: center;
    caption-side: bottom;
    font-size: 1.5em;
}

.text-indent {
    text-indent: 2rem;
}

.table-input {
    padding: 0!important;
}

.table-input input {
    text-align: center;
    border: 0!important;
    border-radius: 0!important;
    background-color: #eff6ff;
}

.w-e-text {
    overflow-y: auto!important;
} */