<div class="text-center">
    <img src="/pictures/example-teacher.png" class="img-fluid img-thumbnail mx-auto d-block mb-3" alt="教师表格示例">
    <h5>图1：教师表格示例</h5>
    <img src="/pictures/example-student.png" class="img-fluid img-thumbnail mx-auto d-block mb-3" alt="学生表格示例">
    <h5>图2：学生表格示例</h5>
    <p class="text-info">注：标*的列为必填项,请严格按照格式填写。</p>
    <div class="row">
        <form action="" method="POST" id="import_teacher_form" class="col-12 col-md-6 mb-3 mb-md-0">
            <div class="form-group form-row justify-content-center mb-3">
                <div class="custom-file mb-3 col-12 col-md-6">
                    <input type="file" name="teacher" id="teacher_file" class="custom-file-input d-none" required>
                    <label for="teacher_file" class="custom-file-label text-left"><small
                            class="form-text text-muted">请选择excel文件</small></label>
                </div>
            </div>
            <div class="form-group form-row justify-content-center">
                <button type="submit" class="btn btn-primary col-12 col-md-6 mb-3 mx-auto">上传教师信息</button>
            </div>
        </form>
        <form action="" method="POST" id="import_student_form" class="col-12 col-md-6 mb-3">
            <div class="form-group form-row justify-content-center mb-3">
                <div class="custom-file mb-3 col-12 col-md-6">
                    <input type="file" name="student" id="student_file" class="custom-file-input d-none" required>
                    <label for="student_file" class="custom-file-label text-left"><small
                            class="form-text text-muted">请选择excel文件</small></label>
                </div>
            </div>
            <div class="form-group form-row justify-content-center">
                <button type="submit" class="btn btn-primary col-12 col-md-6 mb-3 mb-md-0 mx-auto">上传学生信息</button>
            </div>
        </form>
    </div>
</div>
<script>
    (function ($, SASEE) {
        SASEE.formSubmit({
            file: true,
            selector: '#import_teacher_form',
            url: './importTeacher',
            done: SASEE.requestDone
        });
        SASEE.formSubmit({
            file: true,
            selector: '#import_student_form',
            url: './importStudent',
            done: SASEE.requestDone
        });
    })(window.jQuery, window.SASEE);
</script>