<div class="p-3">
    <form action="" id="send_email_form" method="POST">
        <div class="form-group form-row align-items-center">
            <div class="col-4">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="请输入邮件标题" maxlength="255" required>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group form-row justify-content-around">
                    <% const idObj=extraData;
                            for (const value of idObj) { %>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" name="identity" value="<%= value %>"
                            id="email_identity-<%= value.substr(0,1) %>" class="custom-control-input" checked>
                        <label for="email_identity-<%= value.substr(0,1) %>"
                            class="custom-control-label"><%= value.substr(2) %></label>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="emailEditor">
            <div class="mb-3 editor">
                <p>请在此处输入内容···</p>
            </div>
            <div class="form-group form-row justify-content-around">
                <button type="reset" class="btn btn-secondary col-12 col-md-4 mb-3 mb-md-0 editor-clear">清空</button>
                <button type="submit" class="btn btn-primary col-12 col-md-4 mb-3 mb-md-0">发送</button>
            </div>
        </div>
    </form>
</div>
<script>
    (function ($, SASEE) {
        let emailEditor = SASEE.instEditor('#emailEditor', true);
        emailEditor.$textContainerElem[0].style.height = '540px';
        SASEE.formSubmit({
            editor: emailEditor,
            selector: '#send_email_form',
            url: './sendEmail',
            validate: $form => {
                return Boolean($form.find(':checkbox:checked').length);
            },
            ifNotValid: () => {
                SASEE.alert({
                    msg: '收信人不能为空，请至少选择一个！'
                })
                return;
            },
            done: SASEE.requestDone
        });
    })(window.jQuery, window.SASEE);
</script>