<div class="p-3">
    <form action="" id="submit_notice_form" method="POST">
        <div class="form-group form-row align-items-center">
            <div class="col-1">
                <div class="form-group form-row justify-content-around">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" name="top" class="custom-control-input" id="ifTop">
                        <label class="custom-control-label" for="ifTop">置顶</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="请输入通知标题" maxlength="255" required>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group form-row justify-content-around">
                    <% const groups=extraData; 
                        for (const [key,value] of groups.entries()) { %>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" name="group" class="custom-control-input" id="customCheck_<%= key %>"
                            value="<%= value %>" checked>
                        <label class="custom-control-label" for="customCheck_<%= key %>"><%= value.substr(2) %></label>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="noticeEditor">
            <div class="mb-3 editor">
                <p>请在此处输入内容···</p>
            </div>
            <div class="form-group form-row justify-content-around">
                <button type="reset" class="btn btn-secondary col-12 col-md-4 mb-3 mb-md-0 editor-clear">清空</button>
                <button type="submit" class="btn btn-primary col-12 col-md-4 mb-3 mb-md-0">发布</button>
            </div>
        </div>
    </form>
</div>
<script>
    (function ($, SASEE) {
        let noticeEditor = SASEE.instEditor('#noticeEditor', true);
        noticeEditor.$textContainerElem[0].style.height = '540px';
        SASEE.formSubmit({
            editor: noticeEditor,
            selector: '#submit_notice_form',
            url: './submitNotice',
            validate: $form => {
                return Boolean($form.find(':checkbox:checked').length);
            },
            ifNotValid: () => {
                SASEE.alert({
                    msg: '通知分组不能为空，请选择至少一个分组！'
                })
                return;
            },
            done: SASEE.requestDone
        });
    })(window.jQuery, window.SASEE);
</script>