<div class="p-3">
    <form action="" id="write_license_form" method="POST">
        <div id="licenseEditor">
            <div class="mb-3 editor">
                <%- include(PATH.LICENSE+'/license') %>
            </div>
            <div class="form-group form-row justify-content-around">
                <button type="button" class="btn btn-secondary col-12 col-md-4 mb-3 mb-md-0 editor-clear">清空</button>
                <button type="submit" class="btn btn-primary col-12 col-md-4 mb-3 mb-md-0">提交</button>
            </div>
        </div>
    </form>
</div>
<script>
    (function ($, SASEE) {
        let licenseEditor = SASEE.instEditor('#licenseEditor', true);
        licenseEditor.$textContainerElem[0].style.height = '600px';
        SASEE.formSubmit({
            editor: licenseEditor,
            selector: '#write_license_form',
            url: './writeLicense',
            validate: $form => {
                return Boolean($($licenseEditor.$textElem[0]).children().length);
            },
            ifNotValid: () => {
                SASEE.alert({
                    msg: '内容不能为空！'
                })
                return;
            },
            done: SASEE.requestDone
        });
        /* $('#write_license_form').find('label').click(e => {
            let identity = $(e.target).prev().val();
            if (now != identity) {
                let $elem = $(licenseEditor.$textElem[0]);
                $elem.children().appendTo($('#license_' + now));
                $('#license_' + identity).children().appendTo($elem);
                now = identity;
            }
        }); */
    })(window.jQuery, window.SASEE);
</script>