<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-3 text-center">
            <form action="/request/fbkt" method="POST" id="subject_form">
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_title">名称</label>
                    <input class="form-control col-9" type="text" name="title" id="subject_title" placeholder="课题名称"
                        required>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_direction">方向</label>
                    <select class="custom-select form-control col-9" name="direction" id="subject_direction" required>
                        <option value="" selected disabled>请选择一个方向</option>
                        <option value="">401</option>
                        <option value="">402</option>
                        <option value="">301</option>
                        <option value="">302</option>
                    </select>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_capacity">容量</label>
                    <input class="form-control col-9" type="number" name="capacity" id="subject_capacity"
                        placeholder="可容纳人数" required>
                </div>
                <!-- <div class="form-group form-row">
                    <div id="editor" class="mb-3">
                        <p>请在此处输入内容···</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button id="editor_clear" class="btn btn-secondary px-5" type="button">清空</button>
                        <button id="editor_submit" class="btn btn-primary px-5" type="button">提交</button>
                    </div>
                </div> -->
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_description">简介</label>
                    <textarea name="description" id="subject_description" class="form-control col-9" rows="5"
                        placeholder="请填写相关说明···" required></textarea>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_file">相关文件</label>
                    <div class="custom-file mb-3 col-9">
                        <input type="file" name="file" id="subject_file" class="custom-file-input" required>
                        <label for="subject_file" class="custom-file-label text-left"><small
                                class="form-text text-muted">请上传zip，rar或7z文件，不超过5M</small></label>
                    </div>
                </div>
                <div class="form-group form-row mt-3">
                    <label class="col-3 col-form-label" for="subject_password">密码</label>
                    <input type="password" name="password" id="subject_password" class="form-control col-9"
                        pattern="\w{8,16}" placeholder="请输入密码验证身份" required>
                </div>
                <div class="form-row justify-content-around align-items-center mb-3">
                    <button class="btn btn-secondary w-25" type="reset">重置</button>
                    <button class="btn btn-primary w-25" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function ($, SASEE) {
        SASEE.fileUpload('#subject_form');
        SASEE.fileCheck('#subject_file');
    })(window.jQuery, window.SASEE);
</script>