<% for( let index = 0; index < data.length; index++ ) { %>
<li class="list-group-item list-group-item-action" data-id="<%= data[index].id %>">
    <a href="#" class="float-left w-50 ellipsis">
        <% if (data[index].top) { %>
        <span class="badge badge-pill badge-warning">置顶</span>
        <% } %>
        <%= data[index].title %>
    </a>
    <span
        class="float-right"><%= data[index].publisher+'--'+data[index].category+'--'+data[index].date %>
    </span>
</li>
<% } %>