<button id="edit_email" data-toggle="modal" data-target="#edit_email_modal" class="btn btn-primary w-25">绑定邮箱</button>
<div id="edit_email_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">绑定邮箱</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" name="edit_email" id="edit_email_form" method="POST" class="text-center">
                    <div class="form-group form-row">
                        <label for="email" class="col-4 col-form-label">邮箱：</label>
                        <input name="email" id="email" type="email" class="col-8 form-control" placeholder="请输入邮箱地址"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pin_code" class="col-4 col-form-label">验证码：</label>
                        <div class="input-group col-8 px-0">
                            <input name="pinCode" id="pin_code" type="text" class="form-control" pattern="\d{6}"
                                placeholder="请输入收到的验证码" required>
                            <div class="input-group-append">
                                <button type="button" id="pin_code_send" class="btn btn-outline-primary">发送验证码</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($, SASEE) {
        const regexpStr = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
        let $pin_code_send = $('#pin_code_send');

        $pin_code_send.click(() => {
            let email = $pin_code_send[0].form.email.value;
            if (regexpStr.test(email)) {
                $.get(SASEE.URL_EMAIL + '/sendPinCode', { email }).fail(SASEE.requestFail).done(msg => {
                    SASEE.requestDone(msg);
                    SASEE.counter({
                        count: 60,
                        doing: count => {
                            $pin_code_send[0].setAttribute('disabled', true);
                            $pin_code_send[0].innerText = count + 's';
                        },
                        done: () => {
                            $pin_code_send[0].innerText = '发送验证码';
                            $pin_code_send[0].removeAttribute('disabled');
                        }
                    })
                });
            } else {
                SASEE.alert({
                    msg:'请输入有效的邮箱地址！'
                });
            }
        });

        SASEE.formSubmit({
            selector: '#edit_email_form',
            url: SASEE.URL_EMAIL + '/setEmailAddr',
            done: msg => {
                $('#edit_email_modal').modal('hide');
                SASEE.requestDone(msg);
            }
        });
    })(window.jQuery, window.SASEE);
</script>