<!DOCTYPE html>
<html lang="zh_ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/frames/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/system.css">
    <title>毕业设计综合系统</title>
</head>

<body class="p-0">
    <div id="app" class="app-container">
        <header class="app-head row text-light align-items-center justify-content-between">
            <div class="d-flex align-items-center point col-12 col-md-6 col-lg-5 col-xl-4"
                @click="$router.push({path:'/'})">
                <h3 class="mb-0 ml-sm-1 ml-md-2 ml-lg-3">自动化科学与电气工程学院</h3>
            </div>
            <!-- <div v-if="online" class="d-flex align-items-center h-100 text-secondary" style="font-size: 2rem;">
                <a href="#" class="d-block"><span>&laquo;</span>后退</a>
                <a href="#" class="d-block mx-3">刷新</a>
                <a href="#" class="d-block">前进<span>&raquo;</span></a>
            </div> -->
            <bs4-dropdown :menu="userMenu" :class="[online?'bg-primary':'bg-secondary']"
                class="col-12 col-md-4 col-lg-3 col-xl-2 h-100 text-center border-left border-dark point">
                <template #toggle>
                    <div class="d-flex align-items-center justify-content-around h-100 mr-4">
                        <img :src="userProfileUrl" class="float-left rounded-circle" alt="profile" width="64px">
                        <div v-if="online">
                            <div class="h5 my-0">{{user.name}}</div>
                            <div class="d-flex justify-content-center">
                                <span class="badge badge-pill badge-info">{{user.identity}}</span>
                            </div>
                        </div>
                        <h5 v-else class="my-0">未登录</h5>
                    </div>
                </template>
                <template #item="{item}">
                    <router-link v-if="item.to" :to="item.to" class="d-block">{{item.des}}</router-link>
                    <a v-else href="#" @click.prevent="item.listener" class="d-block">{{item.des}}</a>
                </template>
            </bs4-dropdown>
        </header>
        <main class="app-body">
            <keep-alive>
                <router-view :modules="modules"></router-view>
            </keep-alive>
        </main>
        <footer class="app-foot fixed-bottom row justify-content-between align-items-center">
            <div class="col-12 col-md-5 col-lg-4">
                <p class="mb-0 ml-3">系统时间：<span>{{footTime}}</span></p>
            </div>
            <div class="col-12 col-md-7 col-lg-6 text-center">
                <div v-for="link in footLinks" style="min-width:25%;max-width: 25%;display:inline-block;">
                    <router-link v-if="link.to" :to="link.to" class="d-block px-3">{{link.des}}</router-link>
                    <a v-else :href="link.href" class="d-block px-3">{{link.des}}</a>
                </div>
            </div>
        </footer>
        <div class="app-alert" v-show="alert.show_" :class="alertColor">
            <h4 class="alert-heading p-3 mb-0">{{alertTitle}}</h4>
            <p class="px-3" style="text-indent:2rem">{{alert.msg}}</p>
            <p v-if="Boolean(alert.count)" class="px-3 py-2 mb-0 border-top border-info">
                消息框将在<strong class="px-1">{{alert.count}}</strong>秒后自动消失,点击
                <a href="#" @click.prevent="alertHide" class="alert-link">此处</a>可立即关闭。
            </p>
            <div v-else class="border-top border-info btn-group w-100">
                <button @click="alertOk" class="btn btn-outline-secondary w-50 border-0"
                    style="border-radius:0 0 0 .5rem">关闭</button>
                <div class="border-left border-info"></div>
                <button @click="alertCancel" class="btn btn-outline-primary w-50 border-0"
                    style="border-radius:0 0 .5rem 0">确定</button>
            </div>
        </div>
        <div v-show="loading" class="app-backdrop row justify-content-center align-items-center h-100 w-100">
            <div class="spinner-border spinner-border-lg text-primary"></div>
        </div>
    </div>

    <!--     <nav>
        <ul class="pagination pagination-lg">
            <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><span>&raquo;</span></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">···</a></li>
            <li class="page-item"><a class="page-link" href="#">{{now_}}</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">···</a></li>
            <li class="page-item"><a class="page-link" href="#">{{}}</a></li>
            <li class="page-item"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        </ul>
    </nav> -->
    <!--     <div class="p-3">
        <div class="mb-3">
            <table class="table table-bordered table-fixed text-center">
                <tbody>
                    <tr>
                        <th scope="col" colspan="4">学籍信息</th>
                    </tr>
                    <tr>
                        <th>姓名</th>
                        <td>{{user.name}}</td>
                        <th>性别</th>
                        <td>{{user.gender}}</td>
                    </tr>
                    <tr>
                        <th>学号</th>
                        <td>{{user.schoolNum}}</td>
                        <th>小班</th>
                        <td>{{user.class}}</td>
                    </tr>
                    <tr>
                        <th>专业</th>
                        <td>{{user.specialty}}</td>
                        <th>方向</th>
                        <td>{{user.group}}</td>
                    </tr>
                    <tr>
                        <th>是否保研</th>
                        <td>{{user.postGraduate}}</td>
                    </tr>
                    <tr>
                        <th scope="col" colspan="4">账户信息</th>
                    </tr>
                    <tr>
                        <th>用户名</th>
                        <td>{{user.username}}</td>
                        <th>密码</th>
                        <app-table-input v-model="user.password" type="password" placeholder="1~16位字母、数字或下划线"
                            pattern="\\w{1,16}"></app-table-input>
                    </tr>
                    <tr>
                        <th scope="col" colspan="4">联系方式</th>
                    </tr>
                    <tr>
                        <th>邮箱</th>
                        <app-table-input v-model="user.email" type="email" placeholder="请输入正确的邮箱地址"></app-table-input>
                        <th>微信</th>
                        <app-table-input v-model="user.wechat" placeholder="1~255位字母或数字" pattern="[a-zA-Z0-9]{1,255}">
                        </app-table-input>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <app-table-input v-model="user.wechat" placeholder="1~255位字母或数字" pattern="[a-zA-Z0-9]{1,255}">
                        </app-table-input>
                        <th>个人主页</th>
                        <app-table-input v-model="user.wechat" placeholder="1~255位字母或数字" pattern="[a-zA-Z0-9]{1,255}">
                        </app-table-input>
                    </tr>
                </tbody>
            </table>
            <div class="mb-3">
                <h5>个人简介</h5>
                <pre class="p-3 border rounded">{{user.resume}}</pre>
            </div>
        </div>
    </div> -->




    <script src="/frames/others/jquery-3.4.0.js"> </script>
    <script src="/frames/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/frames/others/wangEditor.min.js"></script>
    <script src="/frames/others/object_hash.js"></script>
    <script src="/frames/vue/vue.js"></script>
    <script src="/frames/vue/vue-router.js"></script>
    <script src="/frames/axios/axios.js"></script>
    <script type="module" src="/js/app.js"></script>
</body>

</html>