<div class="sys-content" style="display: none"></div>
<div class="sys-list">
    <div class="row justify-content-around" id="card_container">
        <% if(data.length){
        for( let i = 0; i < data.length; i++ ) { %>
        <%- include('./subject-card',data[i]) %>
        <% } } %>
    </div>
    <% if (extraData.ifPermiss&&data.length<extraData.maxProjects) { %>
    <div class="d-flex justify-content-center align-items-center" style="height: 250px">
        <button class="btn btn-primary col-12 col-md-4 col-lg-3" id="subject_submit">发布课题</button>
    </div>
    <% } %>
</div>
<script>
    (function ($, SASEE) {
        function _loadSubjectContent(type, data = null) {
            SASEE._loadContent({
                container: '#bysj_subject',
                url: SASEE.URL_VIEWS + '/' + type,
                data,
                done: () => {
                    SASEE._showListOrContent({
                        container: '#bysj_subject',
                        flag: false
                    });
                }
            });
        }
        $('#card_container').click(e => {
            if (e.target != e.currentTarget) {
                let $target = $(e.target).closest('.card');
                if ($target.length > 0) {
                    _loadSubjectContent($target.data('type'), { id: $target.data('id') });
                }
            }
        });

        let $subject_submit = $('#subject_submit');
        if ($subject_submit.length) {
            $subject_submit.click(() => {
                _loadSubjectContent('submitSubject');
            });
        }
    })(window.jQuery, window.SASEE);
</script>