<div class="container-fluid">
    <div class="row">
        <%- include(PATH.VIEWS_COMMON+'/subject-form',{PATH,data:data?data[0]:{
                id:'',
                title:'',
                type:'',
                source:'',
                introduction:'',
                requirement:'',
                difficulty:'',
                weight:'',
                ability:{
                    allRound:'',
                    experiment:'',
                    graphic:'',
                    data:'',
                    analysis:''
                },
                materials:'请上传zip，rar或7z文件，不超过5M'
                },extraData:{
                    formId:'subject_form',
                    ifNeedPass:true
                }}); %>
    </div>
</div>
<script>
    (function ($, SASEE) {
        let $curSubject = $('#subject_id');
        SASEE.formSubmit({
            file: true,
            selector: '#subject_form',
            url: SASEE.URL_SUBJECT + ($curSubject[0].value ? SASEE.URL_MODIFY : SASEE.URL_SUBMIT),
            done: data => {
                let $container = $('#card_container');
                if ($curSubject[0].value) {
                    $('#card_container>[data-id=' + $curSubject[0].value + ']').remove();
                }
                $(data).appendTo($container);
                SASEE._showListOrContent({
                    container: '#bysj_subject'
                });
                $.get(SASEE.URL_SUBJECT + SASEE.URL_QUERY).done(data => {
                    if ($container.children().length >= Number(data)) {
                        $('#subject_submit').parent().remove();
                    }
                });
            }
        });
    })(window.jQuery, window.SASEE);
</script>