<div class="container-fluid">
    <div class="row mt-3">
        <%- include(PATH.VIEWS_COMMON+'/subject-form',{PATH,data:data?data[0]:{
                id:'',
                title:'',
                type:'',
                source:'',
                introduction:'',
                requirement:'',
                difficulty:'一般',
                weight:'一般',
                ability:{
                    allRound:'一般',
                    experiment:'一般',
                    graphic:'一般',
                    data:'一般',
                    analysis:'一般'
                },
                materials:'可选的、对课题的补充说明或相关资料，支持word、表格和压缩包，小于5M'
                },extraData:{
                    formId:'subject_form',
                    ifNeedPass:true
                }}); %>
    </div>
</div>
<script>
    (function ($, SASEE) {
        let $curSubject = $('#subject_id');
        SASEE.formSubmit({
            file: true,
            selector: '#subject_form',
            url: SASEE.URL_SUBJECT + ($curSubject[0].value ? SASEE.URL_MODIFY : SASEE.URL_SUBMIT),
            done: data => {
                let $container = $('#card_container');
                if ($curSubject[0].value) {
                    $('#card_container>[data-id=' + $curSubject[0].value + ']').remove();
                }
                $(data).appendTo($container);
                SASEE._showListOrContent({
                    container: '#bysj_subject'
                });
                $.get(SASEE.URL_SUBJECT + SASEE.URL_QUERY).done(data => {
                    if ($container.children().length >= Number(data)) {
                        $('#subject_submit').parent().remove();
                    }
                });
            }
        });
    })(window.jQuery, window.SASEE);
</script>