<h5><span style="font-size: 1.25rem; font-weight: bold;">0.使用建议</span><br></h5><p>&nbsp; &nbsp; &nbsp; &nbsp; a）建议用户使用Chrome、Firefox等浏览器访问本系统，不建议使用IE浏览器；</p><div>&nbsp; &nbsp; &nbsp; &nbsp; b）建议使用PC访问本系统，不建议使用平板、手机等小屏设备；</div><p>&nbsp; &nbsp; &nbsp; &nbsp; c）当页面显示不正常时，尝试更改系统分辨率或浏览器页面缩放比例以解决问题；</p><p>&nbsp; &nbsp; &nbsp; &nbsp; d）若有无法解决的问题，请及时联系管理员。</p><h5><span style="font-weight: bold;">1.关于账户</span></h5><p>&nbsp; &nbsp; &nbsp; &nbsp; 教师账户无需注册，账号为教师工号，密码默认为工号。请教师在初次登陆系统后尽快修改密码，密码不得长于16个字符，推荐使用字母、数字与标点的混合以确保密码强度。操作完成后，推荐使用退出登录操作以保障账户安全。</p><h5><span style="font-weight: bold;">2.完善信息</span></h5><div>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;教师可以在完善信息阶段绑定自己的邮箱账号、完善个人信息。其中，邮箱账号用以在忘记密码时验证身份信息找回密码；个人信息只包含基础信息，不涉及个人隐私。<span style="font-size: 1rem;">教师可以点击右上角【个人信息】项查看并修改个人信息，若基本信息有误，请及时联系管理员进行修改。</span></div><div style="text-align: center;"><img src="./editorImg?file=1576077904981教师信息.png" style="max-width:100%;"><br></div><p>&nbsp; &nbsp; &nbsp; &nbsp; 点击【完善信息】、【绑定邮箱】、【修改密码】三个按钮将分别弹出对话框，按照提示修改信息即可。</p><p>&nbsp; &nbsp; &nbsp; &nbsp; 其中，个人密码可随时进行重置，个人信息与邮箱账号只能在完善信息阶段进行设置。</p><h5><span style="font-weight: bold;">3.发布课题</span><br></h5><div>&nbsp; &nbsp; &nbsp; &nbsp; 教师收到可以开始发布课题的通知后，请尽快登陆系统进行课题发布。发布课题分为提交、初审、修改、复审四个阶段，不同职称的教师可发布的课题数上限不同。<span style="font-family: 微软雅黑; font-size: medium; text-align: justify;">在发布课题阶段，老师可以在【毕业设计】一栏找到【我的课题】项，然后点击该选项进入发布课题页面。</span></div><div style="text-align: center;"><img src="./editorImg?file=1576078062200发布课题.png" style="max-width:100%;"></div><p>&nbsp; &nbsp; &nbsp; &nbsp;标*号的为必填项，提交需要验证个人密码。<span style="font-size: 1rem;">提交后，教师可在此阶段内任意更改课题信息。</span></p><p><span style="font-size: 1rem;">&nbsp; &nbsp; &nbsp; &nbsp;提交课题阶段结束</span><span style="text-align: justify; font-family: 微软雅黑; font-size: medium;">之后，督导组会进行初次审核。初次审核之后，审核通过的课题无需修改，不通过的题目可以看到审核意见，并需要再次修改，修改的界面和提交时相同。</span></p><p style="text-align: center;"><img src="./editorImg?file=1576081197256查看课题.png" style="font-size: 1rem; text-align: left; max-width: 100%;"><span style="text-align: justify; font-family: 微软雅黑; font-size: medium;">&nbsp; &nbsp; &nbsp;&nbsp;</span></p><p><span style="text-align: justify; font-family: 微软雅黑; font-size: medium;">&nbsp; &nbsp; &nbsp; 修改完毕后督导组进行二次审核，对于第二次审核未通过的题目，系统将不对外显示，学生无法选择该课题。</span></p><h5><span style="font-weight: bold;">4.学生确认</span></h5><p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size: medium; font-family: 微软雅黑;">在学生选题的预选阶段，老师可以在【我的课题】看到选择本课题的学生及其相关信息，选中学生然后点击【选择此学生】即可</span><span style="font-size: 1rem;">确认其中某位学生，一旦确认则立即生效</span><span style="font-size: 1rem;">，老师和学生都无法进行更改</span><span style="font-size: 1rem;">，此课题选择工作结束。若直到预选阶段结束教师仍未进行确认 ，则对选择此课题的所有学生按照第一志愿、第二志愿、第三志愿的顺序进行抽签。教师可以随后查看抽签结果。若学生补选阶段完成后仍无人选择，则课题将作废。</span></p><p style="text-align: center;"><img src="./editorImg?file=1576081225911学生确认.png" style="max-width:100%;"></p><p style="text-align: left;"><br></p><style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:等线;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:DengXian;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-1610612033 953122042 22 0 262159 0;}
@font-face
	{font-family:"\@等线";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-1610612033 953122042 22 0 262159 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:等线;
	mso-ascii-font-family:等线;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:等线;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:等线;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:等线;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:36.0pt;
	mso-footer-margin:36.0pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style><p>&nbsp; &nbsp; &nbsp; &nbsp; 基础操作说明到此结束，请教师认真阅读。</p><p><br></p><p><br></p><p><br></p><style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:等线;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:DengXian;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-1610612033 953122042 22 0 262159 0;}
@font-face
	{font-family:"\@等线";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-1610612033 953122042 22 0 262159 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:等线;
	mso-ascii-font-family:等线;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:等线;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:等线;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:等线;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:36.0pt;
	mso-footer-margin:36.0pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style><style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:等线;
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-alt:DengXian;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-1610612033 953122042 22 0 262159 0;}
@font-face
	{font-family:"\@等线";
	panose-1:2 1 6 0 3 1 1 1 1 1;
	mso-font-charset:134;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-1610612033 953122042 22 0 262159 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	mso-pagination:none;
	font-size:10.5pt;
	mso-bidi-font-size:11.0pt;
	font-family:等线;
	mso-ascii-font-family:等线;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:等线;
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:等线;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-font-kerning:1.0pt;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:等线;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	mso-header-margin:36.0pt;
	mso-footer-margin:36.0pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>