<div class="d-flex justify-content-center" style="height: 250px">
    <h1 class="text-muted align-self-center">抽签结果：
        <% if(data.length) { %>
        <span class="badge badge-pill badge-primary">抽中</span>
        <% } else { %>
        <span class="badge badge-pill badge-warning">未中</span>
        <% } %>
    </h1>
</div>