<% if (data.length) { %>
<div id="subject_content" class="col-12 mx-auto scroll-container" style="display: none"></div>
<div id="subject_list" class="scroll-container" data-page="1">
    <table class="table table-hover text-center col-10 mx-auto table-fixed">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="w-50">标题</th>
                <th scope="col">方向</th>
                <th scope="col">已选/容量</th>
                <th scope="col">发布者</th>
                <th scope="col">发布时间</th>
            </tr>
        </thead>
        <tbody class="infinite-scroll-container-2">
            <%- include('./subjectList',{data}) %>
        </tbody>
    </table>
    <div class="text-center card-footer infinite-scroll-status-2" style="display:none">
        <span class="infinite-scroll-request">加载中···</span>
        <span class="infinite-scroll-last">没有啦</span>
        <span class="text-warning infinite-scroll-error">出错了</span>
    </div>
</div>

<script>
    (function ($, SASEE) {
        function _loadSubjectContent(e) {
            SASEE._loadContent('#subject_content', {
                type: 'subjectContent',
                id: $(e.currentTarget).data('id')
            }, () => {
                SASEE._subjectToggle('#subject_content', '#subject_list');
            })
        }

        $('.infinite-scroll-item-2').click(_loadSubjectContent);
        SASEE.instScroll('.infinite-scroll-container-2', () => {
            let page = Number($('#subject_list').data().page);
            if (page) {
                return SASEE.URL_VIEW + '?type=subjectList&nextPage=' + (page + 1);
            }
        }, '.infinite-scroll-item-2', 400, '#subject_list', true, '.infinite-scroll-status-2', null, null, (e, res, path, items) => {
            let page = Number($('#subject_list').data().page);
            $('#subject_list').data('page', page+1);
            $(items).click(_loadSubjectContent);
        });
    })(window.jQuery, window.SASEE);
</script>

<% } else { %>
<div class="d-flex justify-content-center" style="height: 250px">
    <h1 class="text-muted align-self-center">暂时没有课题</h1>
</div>
<% } %>