<% if (data.length) { %>
<div class="sys-content col-12 mx-auto" style="display: none"></div>
<div class="sys-list">
    <table class="table table-hover text-center col-10 mx-auto table-fixed">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="w-50">标题</th>
                <th scope="col">方向</th>
                <th scope="col">已选/容量</th>
                <th scope="col">发布者</th>
                <th scope="col">发布时间</th>
            </tr>
        </thead>
        <tbody>
            <%- include('./subjectList',{data}) %>
        </tbody>
    </table>
    <nav class="sys-pagination rel-bottom" data-total="<%= data[0].total %>">
        <ul class="pagination pagination-lg">
            <li class="page-item previous"><a class="page-link" href="#"><span>&laquo;</span></a></li>
            <li class="page-item disabled"><a class="page-link" href="#">···</a></li>
            <li class="page-item now"><a class="page-link" href="#">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">···</a></li>
            <li class="page-item next"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        </ul>
    </nav>
</div>

<script>
    (function ($, SASEE) {
        $('#bysj_subject>.sys-list tbody').click(e => {
            SASEE._loadContent({
                container: '#bysj_subject',
                url: SASEE.URL_VIEWS + '/subjectContent',
                data: {
                    id: $(e.target).closest('tr').data('id')
                },
                done: () => {
                    SASEE._showListOrContent({
                        container: '#bysj_subject',
                        flag: false
                    });
                }
            })
        });
        SASEE.instPagination({
            container: '#bysj_subject>.sys-list tbody',
            pagination: '#bysj_subject>.sys-pagination',
            url: SASEE.URL_VIEWS + '/subjectList'
        });
    })(window.jQuery, window.SASEE);
</script>

<% } else { %>
<div class="d-flex justify-content-center" style="height: 250px">
    <h1 class="text-muted align-self-center">暂时没有课题</h1>
</div>
<% } %>